<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/page-start'); %>

        <header>
            <%- include('../partials/user-navbar', { currentPage: 'editprofile' }); %>
        </header>
        <div>
            <aside>
                <%- include('../partials/user-sidebar', { currentPage: 'editprofile' }); %>
            </aside>
            <main>
                <div>

                    <div>
                        <h1>
                            <div>
                                <i></i>
                            </div>
                            Profile Settings
                        </h1>
                    </div>
                    <div>
                        <div>
                        </div>
                        <div>
                            <h4>
                                <i></i> Account Data
                            </h4>
                        </div>

                        <div>
                            <form action="/update-account" method="POST">
                                <div>
                                    <h5>
                                        <i></i> Personal Identification
                                    </h5>
                                    <div>
                                        <div>
                                            <label for="firstname">First
                                                Name</label>
                                            <input type="text" id="firstname" name="firstname"
                                                value="<%= user.firstname %>" required>
                                        </div>
                                        <div>
                                            <label for="lastname">Last
                                                Name</label>
                                            <input type="text" id="lastname" name="lastname"
                                                value="<%= user.lastname %>" required>
                                        </div>
                                        <div>
                                            <label for="email">Email
                                                Address</label>
                                            <input type="email" id="email" name="email" value="<%= user.email %>"
                                                required>
                                        </div>
                                        <div>
                                            <label for="contact_number">Contact
                                                Number</label>
                                            <input type="number" id="contact_number" name="contact_number"
                                                value="<%= user.contact_number %>" required>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <h5>
                                        <i></i> Geographical Data
                                    </h5>
                                    <div>
                                        <div>
                                            <label for="street_address">Street
                                                Address</label>
                                            <input type="text" id="street_address" name="street_address"
                                                value="<%= user.street_address %>" required>
                                        </div>
                                        <div>
                                            <label for="barangay">Barangay</label>
                                            <input type="text" id="barangay" name="barangay"
                                                value="<%= user.barangay %>" required>
                                        </div>
                                        <div>
                                            <label for="city">City
                                                / Municipality</label>
                                            <input type="text" id="city" name="city" value="<%= user.city %>" required>
                                        </div>
                                        <div>
                                            <label for="province">Province</label>
                                            <input type="text" id="province" name="province"
                                                value="<%= user.province %>" required>
                                        </div>
                                        <div>
                                            <label for="postal_code">Postal
                                                Code</label>
                                            <input type="text" id="postal_code" name="postal_code"
                                                value="<%= user.postal_code %>" required>
                                        </div>
                                        <div>
                                            <label for="country">Country</label>
                                            <input type="text" id="country" name="country" value="<%= user.country %>"
                                                required>
                                        </div>
                                        <div>
                                            <label for="landmark">Landmark</label>
                                            <input type="text" id="landmark" name="landmark"
                                                value="<%= user.landmark %>" required>
                                        </div>
                                        <div>
                                            <label for="address_type">Address
                                                Type</label>
                                            <input type="text" id="address_type" name="address_type"
                                                value="<%= user.address_type %>" placeholder="e.g. Home, Office"
                                                required>
                                        </div>
                                        <div>
                                            <label for="additional_instructions">Additional
                                                Guidance / Instructions</label>
                                            <textarea id="additional_instructions" name="additional_instructions"
                                                rows="2" required><%= user.additional_instructions %></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <h5>
                                        <i></i> Authentication Setting
                                    </h5>
                                    <div>
                                        <label for="password">Override
                                            Password (Optional)</label>
                                        <div>
                                            <div>
                                                <i></i>
                                            </div>
                                            <input type="password" id="password" name="password"
                                                placeholder="Leave empty to retain current password"
                                                autocomplete="new-password">

                                            <button type="button" id="togglePassword">
                                                <i></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <a href="/weather">
                                        <i></i> Cancel
                                    </a>
                                    <button type="submit">
                                        <i></i> COMMIT CHANGES
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <%- include('../partials/footer'); %>
            <script>
                const togglePassword = document.querySelector("#togglePassword");
                const passwordInput = document.querySelector("#password");
                const icon = togglePassword.querySelector("i");

                togglePassword.addEventListener("click", function () {
                    const isPassword = passwordInput.getAttribute("type") === "password";
                    passwordInput.setAttribute("type", isPassword ? "text" : "password");

                    if (isPassword) {
                        icon.classList.remove("fa-eye-slash");
                        icon.classList.add("fa-eye");
                        icon.classList.add("text-blue-500");
                    } else {
                        icon.classList.remove("fa-eye");
                        icon.classList.add("fa-eye-slash");
                        icon.classList.remove("text-blue-500");
                    }
                });
            </script>
            <%- include('../partials/page-end'); %>
</body>

</html>