<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/page-start'); %>

    <header>
      <%- include('../partials/user-navbar', { currentPage: 'requesthelp' }); %>
    </header>

    <div>
      <aside>
        <%- include('../partials/user-sidebar', { currentPage: 'requesthelp' }); %>
      </aside>

      <main>
        <div>

          <div>
            <div>
              <i></i>
            </div>
            <h1>Medical Assistance
            </h1>
          </div>

          <div>
            <div>
              <h2>Request Form</h2>
            </div>

            <div>
              <!-- BG Logo fade -->
              <div>
                <i></i>
              </div>

              <form action="/api/med-request" method="POST">

                <div>
                  <label for="address">
                    Current Location Address
                  </label>
                  <div>
                    <i></i>
                    <input type="text" id="address" name="address" readonly
                      placeholder="Waiting for location selection...">
                  </div>
                </div>

                <div>
                  <label>
                    Select Coordinates on Map
                  </label>
                  <div>
                    <!-- Map Container -->
                    <div id="map">
                    </div>
                  </div>
                  <p>
                    <i></i> Click on the map to pinpoint
                    your exact required extraction point.
                  </p>
                </div>

                <div>
                  <div>
                    <label for="latitude">Latitude</label>
                    <input type="text" id="latitude" name="latitude"
                      required readonly placeholder="0.000000">
                  </div>
                  <div>
                    <label for="longitude">Longitude</label>
                    <input type="text" id="longitude" name="longitude"
                      required readonly placeholder="0.000000">
                  </div>
                </div>

                <div>
                  <button type="submit">
                    <i></i> SUBMIT REQUEST
                  </button>
                </div>

              </form>
            </div>
          </div>

        </div>
      </main>
    </div>

    <%- include('../partials/footer'); %>

      <!-- External Scripts for Map -->
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-routing-machine/3.2.12/leaflet-routing-machine.min.js"></script>
      <script src="/js/script.js"></script>
      <script src="/js/sos.js"></script>
</body>

</html>