<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>
<!-- ========================================================================= -->

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <%- include('../partials/spinner'); %>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <%- include('../partials/admin-sidebar'); %>
      <!-- Sidebar End -->


      <!-- Content Start -->
      <div class="content">
        <!-- Navbar Start -->
        <%- include('../partials/admin-navbar'); %>
          <!-- Navbar End -->

          <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                  <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-secondary rounded h-100 p-4">
                          <h6 class="mb-4">User List</h6>
                          <div class="table-responsive">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                          <th scope="col">Actions</th>
                                          <th scope="col">Type</th>
                                          <th scope="col">ID</th>
                                          <th scope="col">Firstname</th>
                                          <th scope="col">Lastname</th>
                                          <th scope="col">Address</th>
                                          <th scope="col">Barangay</th>
                                          <th scope="col">City</th>
                                          <th scope="col">Province</th>
                                          <th scope="col">Postal Code</th>
                                          <th scope="col">Country</th>
                                          <th scope="col">Email</th>
                                          <th scope="col">Contact Number</th>
                                          <th scope="col">Landmark</th>
                                          <th scope="col">Address Type</th>
                                          <th scope="col">Notes</th>
                                          <th scope="col">Password</th>
                                          <th scope="col">Role</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <% responders.forEach(res => { %>
                                      <tr>
                                        <td>
                                          <a href="/edit-responder/<%= res.id %>">
                                              <button type="button" class="btn btn-outline-info m-2">Edit</button>
                                          </a>
                                          <button class="btn btn-outline-danger m-2" onclick="deleteResponder(<%= res.id %>)">Delete</button>
                                        </td>
                                        <td><span class="badge bg-primary">Responder</span></td>
                                        <td><%= res.id %></td>
                                        <td><%= res.firstname %></td>
                                        <td><%= res.lastname %></td>
                                        <td><%= res.station_name || 'N/A' %></td>
                                        <td>N/A</td>
                                        <td>Iloilo City</td>
                                        <td>Iloilo</td>
                                        <td>5000</td>
                                        <td>Philippines</td>
                                        <td><%= res.email %></td>
                                        <td><%= res.contact_number %></td>
                                        <td>N/A</td>
                                        <td>Work</td>
                                        <td>N/A</td>
                                        <td>********</td>
                                        <td>responder</td>
                                      </tr>
                                    <% }) %>
                                    <% users.forEach(user => { %>
                                      <tr>
                                        <td>
                                          <a href="/edit/<%= user.id %>">
                                              <button type="button" class="btn btn-outline-info m-2">Edit</button>
                                          </a>
                                          <button class="btn btn-outline-danger m-2" onclick="deleteUser(<%= user.id %>)">Delete</button>
                                        
                                        </td>
                                        <td><span class="badge bg-secondary">Citizen</span></td>
                                        <td><%= user.id %></td>
                                        <td><%= user.firstname %></td>
                                        <td><%= user.lastname %></td>
                                        <td><%= user.street_address %></td>
                                        <td><%= user.barangay %></td>
                                        <td><%= user.city %></td>
                                        <td><%= user.province %></td>
                                        <td><%= user.postal_code %></td>
                                        <td><%= user.country %></td>
                                        <td><%= user.email %></td>
                                        <td><%= user.contact_number %></td>
                                        <td><%= user.landmark %></td>
                                        <td><%= user.address_type %></td>
                                        <td><%= user.additional_instructions %></td>
                                        <td>********</td>
                                        <td><%= user.role %></td>
                                      </tr>
                                    <% }) %>
                                  </tbody>
                              </table>
                          </div>
                        </div>
                      </div>
                  </div>
            </div>
            <!-- Widgets End -->


          <!-- Footer Start -->
          <%- include('../partials/footer'); %>
            <!-- Footer End -->

      </div>
      <!-- Content End -->


      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>

  <script src="/js/script.js"></script>
  <script>
    function deleteUser(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "This will permanently remove the user and their disaster reports!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#6c757d',
            confirmButtonText: 'Yes, delete user'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/admin-delete/' + id;
            }
        });
    }

    function deleteResponder(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "This will permanently remove the responder!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#6c757d',
            confirmButtonText: 'Yes, delete responder'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/admin-delete-responder/' + id;
            }
        });
    }
  </script>
</body>

</html>



