<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <!-- openweather api key -->
  <script>
    const apiKey = "<%= apiKey %>";
  </script>
</head>
<body>
  <%- include('../partials/page-start'); %>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <%- include('../partials/spinner'); %>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <%- include('../partials/user-sidebar'); %>
      <!-- Sidebar End -->


      <!-- Content Start -->
      <div class="content">
        <!-- Navbar Start -->
        <%- include('../partials/user-navbar'); %>
          <!-- Navbar End -->

          <!-- Weather Info -->
          <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary text-center rounded p-4">
              <div class="d-flex align-items-center justify-content-center mb-4">
                <h1><i class="bi bi-cloud-sun mb-0"></i>Welcome to CitySafe!</h1>
              </div>
              <hr>
              <p id="address">Loading Address...</p>
              <p id="coords"></p>
              <div class="rounded p-3" id="weather-info">Loading weather data...</div>
            </div>
          </div>
          <!-- Weather Info End -->

          <!-- Map Start -->
          <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
              <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary text-center rounded p-4">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Live Weather View</h6>
                  </div>
                  <div id="weather-map"></div>
                </div>
              </div>
              <div class="col-sm-12 col-xl-6">
                <div class="bg-secondary text-center rounded p-4">
                  <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Live Location</h6>
                  </div>
                  <div id="map"></div>
                  <%- include('../partials/selectloc-visitor'); %>

                </div>
              </div>
            </div>
          </div>
          <!-- Map End -->

          <!-- Footer Start -->
          <%- include('../partials/page-end'); %>
          <%- include('../partials/footer'); %>
            <!-- Footer End -->

      </div>
      <!-- Content End -->


      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
  </div>

  <script src="/js/script.js"></script>
</body>

</html>

<!-- <h1><i class="bi bi-cloud-sun"></i>CitySafe Weather View</h1>
<hr class="grey-line">
<h4 class="mb-5">Please <a href="/login">Login</a> to experience full feature!</h4>
<p id="address"></p>
<p id="coords"></p>
<div class="rounded p-3" id="weather-info">Loading weather data...</div>
<div id="weather-map"></div>
<p><%- include('../partials/selectloc-visitor'); %></p> -->